/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Input Mono";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/InputMono-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Monaco";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Monaco.woff") format("woff");
}
@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Menlo-Regular.woff") format("woff");
}
:root {
  --bg-color: #242933;
  --text-color: #ECEFF4;
  --terminal-color: #2E3440;
  --input-color: #3B4252;
  --redo-color: #3B4252;
  --highlight-color: #4d8ee9;
  --correct-color: #A3BE8C;
  --incorrect-color: #BF616A;
  --neutral-color: #B38DAC;
}

body, #container {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#terminal {
  background-color: var(--terminal-color);
}
#terminal #input {
  background-color: var(--input-color);
  color: var(--text-color);
}

#redo-btn {
  background-color: var(--redo-color);
  color: var(--text-color);
}

.highlight-btn {
  color: var(--highlight-color);
}

.correct {
  color: var(--correct-color);
}

.incorrect {
  color: var(--incorrect-color);
}

.neutral {
  color: var(--neutral-color);
}

header {
  font-size: 16px;
}

#title {
  font-size: 24px;
}

footer {
  font-size: 16px;
}

#main {
  font-size: 16px;
}

#input {
  font-size: 18px;
}

#redo-btn {
  font-size: 18px;
}

.highlight-btn {
  font-size: 16px;
}

* {
  box-sizing: border-box !important;
  border: none;
  font-family: "Menlo", "Monaco", "Input Mono", monospace !important;
}

button {
  cursor: pointer;
}

.highlight-btn {
  margin: 0;
  padding: 0;
  background: none;
  font-size: inherit;
}

/* ============================== HEADER & FOOTER ============================== */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3em;
}
header #title {
  font-weight: 700;
}

footer {
  padding-top: 3em;
  padding-bottom: 1em;
}

/* ============================== MAIN CONTENT ============================== */
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
  padding-bottom: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
}

#status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.2em;
}

/* ============================== TERMINAL ============================== */
#terminal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1.2em;
  border-radius: 6px;
}
#terminal #text {
  line-height: 30px;
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2em;
}
#input-container #input {
  flex-grow: 1;
  margin-right: 1.2em;
  padding: 0.5em 0.8em 0.5em 0.8em;
  border-radius: 4px;
}

#redo-btn {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 4px;
}

/* ============================== MEDIA QUERIES ============================== */
@media (max-width: 44rem) {
  #main {
    width: 95%;
  }
}
@media (max-width: 450px) {
  #status-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #status-bar #modes {
    padding-bottom: 1em;
  }

  #input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #input-container #input {
    margin-right: 0em;
    margin-bottom: 0.5em;
  }

  header {
    font-size: 14px;
  }

  #title {
    font-size: 22px;
  }

  footer {
    font-size: 14px;
  }

  #main {
    font-size: 14px;
  }

  #input {
    font-size: 16px;
  }

  #redo-btn {
    font-size: 16px;
  }

  .highlight-btn {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
