@use 'base/reset';
@use 'base/typography';
@use 'theme';

$terminal-width: 40rem;

@include typography.set-font-size(24px, 16px, 18px); //set font sizes

* {
	box-sizing: border-box !important;
	border: none;
	font-family: 'Menlo', 'Monaco', 'Input Mono', monospace !important;
}

button {
	cursor: pointer;
}

.highlight-btn {
	margin: 0;
	padding: 0;
	background: none;
	font-size: inherit;
}

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: space-between;
}

/* ============================== HEADER & FOOTER ============================== */
header {
	@include flex(row);
	width: 100%;
	padding-bottom: 3em;
	#title {
		font-weight: 700;
	}
}

footer {
	padding-top: 3em;
	padding-bottom: 1em;
}

/* ============================== MAIN CONTENT ============================== */
#container {
	@include flex(column);
	align-items: center;
	height: 100vh;
	padding: 1.5rem;
	padding-bottom: 0;
}

#main {
	@include flex(column);
	width: $terminal-width;
}

#status-bar {
	@include flex(row);
	padding-bottom: 1.2em;
}

/* ============================== TERMINAL ============================== */
#terminal {
	@include flex(column);
	padding: 1em;
	padding-top: 1.2em;
	border-radius: 6px;
	#text {
		line-height: 30px;
	}
}

#input-container {
	@include flex(row);
	margin-top: 1.2em;
	#input {
		flex-grow: 1;
		margin-right: 1.2em;
		padding: 0.5em 0.8em 0.5em 0.8em;
		border-radius: 4px;
	}
}

#redo-btn {
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 4px;
}

/* ============================== MEDIA QUERIES ============================== */
@media (max-width: $terminal-width + 4rem) {
	#main {
		width: 95%;
	}
}

@media (max-width: 450px) {
	#status-bar {
		@include flex(column);
		align-items: center;
		#modes {
			padding-bottom: 1em;
		}
	}
	#input-container {
		@include flex(column);
		#input {
			margin-right: 0em;
			margin-bottom: 0.5em;
		}
	}
	@include typography.set-font-size(22px, 14px, 16px);
}