@font-face {
	font-family: 'Input Mono';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/InputMono-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Monaco';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Monaco.woff') format('woff');
}

@font-face {
	font-family: 'Menlo';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Menlo-Regular.woff') format('woff');
}

@mixin set-font-size($header-font-size, $body-font-size, $input-font-size) {
	header {
		font-size: $header-font-size;
	}
	footer {
		font-size: $body-font-size;
	}
	#main {
		font-size: $body-font-size;
	}
	#terminal-input {
		font-size: $input-font-size;
	}
	#redo-btn {
		font-size: $input-font-size;
	}
	.highlight-btn {
		font-size: $body-font-size;
	}
}