:root {
	--bg-color: #1A1A1A;
	--text-color: #FFFFFF;
	--terminal-color: #333333;
	--input-color: #1A1A1A;
	--redo-color: #1A1A1A;
	--highlight-color: #174d99;
}

#container {
	background-color: var(--bg-color);
	color: var(--text-color);
}

#terminal {
	background-color: var(--terminal-color);
}

#terminal-input {
	background-color: var(--input-color);
	color: var(--text-color);
}

#redo-btn {
	background-color: var(--redo-color);
	color: var(--text-color);
}

.highlight-btn {
	color: var(--highlight-color);
}