:root {
	--bg-color: #242933;
	--text-color: #ECEFF4;
	--terminal-color: #2E3440;
	--input-color: #3B4252;
	--redo-color: #3B4252;
	--highlight-color: #4d8ee9;
}

#container {
	background-color: var(--bg-color);
	color: var(--text-color);
}

#terminal {
	background-color: var(--terminal-color);
}

#terminal-input {
	background-color: var(--input-color);
	color: var(--text-color);
}

#redo-btn {
	background-color: var(--redo-color);
	color: var(--text-color);
}

.highlight-btn {
	color: var(--highlight-color);
}